.header h1 {
  text-align: center;
  margin: 70px;
}
.canculate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.canculate__item {
  margin: 20px;
  font-size: 30px;
}
.canculate button {
  border-radius: 5px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.fa {
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
}
.card {
  text-align: center;
  font-size: 30px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
input {
  border-radius: 5px;
}
button {
  border-radius: 2px;
}
